@font-face {
   font-family: 'Frutiger';
   font-display: swap;
   src: url('file:///C:/Users/jsajs/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-10-15_104643/fonts/Frutiger/font.ttf');
}
